# SQLAlchemy

ExxonMobil, 11/6/2017

#### Exercise #1: Query with Engine 

Using either engine.execute() or pd.read_sql_query format, query the 
player table from the soccer data to determine how many players weigh over 170 lbs.

[data ref](# https://www.kaggle.com/hugomathien/soccer)

In [9]:
# # Solutions

# option 1: Query via pandas
print('option 1')
print(pd.read_sql_query('''SELECT count(*) as CT FROM player where
weight  > 170 ''',engine))

# option 2: Query  via engine.execute
result=engine.execute('SELECT count(*) as CT FROM player where weight> 170')
print('\n')
print('option 2')
print(result.fetchone())


# option 3: leverage Pandas! 
# we can also use pandas to query!
df=pd.read_sql_query('''SELECT * FROM player ''',engine) 
query=df[df.weight>170]

#print(len(query))

option 1
     CT
0  4706


option 2
(4706,)

#### Exercise #2  Create Table w/ MetaData:

In [24]:

#solutions
client_table=Table("client",metadata,
                   Column("client_id",Integer, primary_key=True),
                   Column("name",String(100), nullable=False),
                   Column("address",String(100), nullable=False),
                   Column("owner",Integer,ForeignKey('user.id')))

client_table.create(engine)

inspector.get_columns('client')

[{'autoincrement': 'auto',
  'default': None,
  'name': 'client_id',
  'nullable': False,
  'primary_key': 1,
  'type': INTEGER()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'name',
  'nullable': False,
  'primary_key': 0,
  'type': VARCHAR(length=100)},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'address',
  'nullable': False,
  'primary_key': 0,
  'type': VARCHAR(length=100)},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'owner',
  'nullable': True,
  'primary_key': 0,
  'type': INTEGER()}]

#### Exercise #3:  Create Classes with the ORM

In [ ]:

# solutions: 
Base = declarative_base()

class User(Base):
    __tablename__='user'
    id = Column(Integer, primary_key=True)
    first_name=Column(String)
    last_name=Column(String)
    addresses = relationship("Address", backref="user")


class Address(Base):
    __tablename__='address'
    id = Column(Integer, primary_key=True)
    email=Column(String(100),nullable = False) 
    user_id = Column(Integer, ForeignKey('user.id'),primary_key=True)