# SQLAlchemy

## Outline 

- Connect to SQL DB via Engine and Connection classes via SQLAlchemy
    - Create connections 
    - Run SQL Queries
- Work with SQLAlchemy MetaData
    - Generate database schema
    - Creating databases
    - Database inspction and reflection
    - Dropping databases
- SQLAlchemy SQL Expressions 
- SQLAlchemy Object-relational Mapping
    - Inserts via ORM
    - Selects, wheres and group-bys via ORM

By the end of this lesson, students will know how to query SQL databases using Python syntax and without writing explicit SQL queries.

## Intro to SQLAlchemy

Many people, including many of you, have to use SQL to analyze data. SQLAlchemy is a Python library that lets you write SQL queries using a "Pythonic" syntax that can be much easier to follow and debug than traditional SQL queries.

## SQLAlchemy Overview: 

- Database Toolkit for Python  
(introduced in 2005)
- end-to-end system for working with:
    - the Python DBAPI
    - relational databases
    - the SQL language


## SQLAlchemy Goals:

- Provide functions & tools to facilitate and automate 
  database development
- Provide a consistent and fully featured facade  over the DBAPI
- Provide an ORM: Sql alchemy is most most famous for the ORM - an optional component that provides a data-mapper pattern

## SQLAlchemy Philosophy:

- Middle Ground approach: 
Bring the usage of different databases and adapters to an interface as consistently as possible.  But still expose distinct behavoirs and features of each backend
- SQL databases behave less like object collections the more size 
and performance start to matter; object collections behave less like 
tables and rows the more abstraction starts to matter. 
SQLAlchemy aims to accomodate both of these principles.

<img src="images/onion.png">

## SQLAlchemy classes

To get started with SQLAlchemy, there are a few key classes you'll start working with: `engine`, `connection` and `transaction` .

### `engine`

To start running SQL Queries using SQLAlchemy, we first have to learn to connect to our databases.   The engine object establishes this
connection via the DBAPI.

SQLAlchemy supports many dialects of SQL, from open source distributions such as PostGRESQL to products such as Microsoft SQL Server. We'll first cover some high level concepts specific to SQLAlchemy before diving in to learn about how to connect to Microsoft SQL Server as an illustration.
http://docs.sqlalchemy.org/en/latest/dialects/mssql.html#module-sqlalchemy.dialects.mssql.pymssql

A SQLAlchemy engine will take in a "connection string" containing database credentials and let you connect to any database associated with those credentials. From the SQLAlchemy documentation, if we wanted to connect to a local database,'database.sqlite',
we could do so as follows:

In [1]:
# create_engine() builds a factory for database connections
from sqlalchemy import create_engine
 
# sqlite doesnt use server & only uses local files
engine = create_engine('sqlite:///data/database.sqlite')

A preview of a table from the database:

<img src="images/table.png">
[data ref](# https://www.kaggle.com/hugomathien/soccer)

```python
import sqlite3
con = sqlite3.connect('database.sqlite')  # reading database via DBAPI
```

Note that the Engine is not synonymous to the DBAPI connect function which represents just one connection resource.   

A single engine manages many individual DBAPI connections on behalf of the process
and is intended to be called upon in a concurrent fashion

### `connection`   
The engine can be used directly to issue SQL to the database.      
We can procure a connection resource via the Engine.connect() method

In [3]:
# As follows, we opened a connection, did something, closed connection..

connection = engine.connect()  # create a connection
result = connection.execute("select * from team")
print(result.fetchone())
connection.close()  # connection is released

(1, 9987, 673, 'KRC Genk', 'GEN')

### `transaction`   
One level up from a straight forward connection, is the transaction object.   
To run several statements inside a transaction, connection features a begin() method that returns a transaction.

In [4]:
connection = engine.connect()  # create a connection
trans = connection.begin()   # Begin a transaction
result = connection.execute("select * from team")
trans.commit()  # 
print(result.fetchone())
connection.close()  # connection is released

(1, 9987, 673, 'KRC Genk', 'GEN')

In [5]:
# we'll just work with connection for now
connection = engine.connect()
result = connection.execute("select * from team")
row=result.fetchone()

In [6]:
# Show table names
print(row)   # returns a tuple

print(row['team_long_name'])  # can also work like a dictionary

result.close()

(1, 9987, 673, 'KRC Genk', 'GEN')
KRC Genk

In [7]:
# we can also work directly with engine...
result=engine.execute('select * from team')
rows=result.fetchall()

for i in rows:
    print(i['team_short_name'])

GEN
BAC
ZUL
LOK
CEB
AND
GEN
MON
DEN
STL
MEC
CLB
ROS
KOR
TUB
MOU
WES
CHA
STT
LIE
EUP
O-H
WAA
OOS
MOP
MUN
NEW
ARS
WBA
SUN
LIV
WHU
WIG
AVL
MCI
EVE
BLB
MID
TOT
BOL
STK
HUL
FUL
CHE
POR
BIR
WOL
BUR
BLA
SWA
QPR
NOR
SOU
REA
CRY
CAR
LEI
BOU
WAT
AUX
NAN
BOR
CAE
LEH
NIC
LEM
LOR
LYO
TOU
MON
PSG
NAN
LIL
REN
MAR
SOC
GRE
VAL
ETI
LEN
MON
BOU
ARL
BRE
AJA
ETG
DIJ
REI
BAS
TRO
GUI
MET
ANG
GAJ
BMU
HAM
LEV
DOR
S04
HAN
WOL
FCK
EFR
HBE
BIE
WBR
COT
HOF
GLA
STU
KAR
BOC
FRE
NUR
MAI
KAI
STP
AUG
FDU
GRF
BRA
PAD
ING
DAR
ATA
SIE
CAG
LAZ
CAT
GEN
CHI
REG
FIO
JUV
ACM
BOL
ROM
NAP
SAM
INT
TOR
LEC
UDI
PAL
BAR
LIV
PAR
CES
BRE
NOV
PES
VER
SAS
EMP
FRO
CAP
VIT
GRO
ROD
TWE
WII
AJA
NEC
GRA
UTR
PSV
HER
FEY
SPA
HAA
VOL
HEE
ALK
NAC
RKC
VEN
EXC
ZWO
CAM
GAE
DOR
WIS
POB
GOR
CHO
LEG
PWA
SLA
LGD
LOD
ODR
POZ
BEL
ARK
BIA
PIG
CKR
KKI
ZAG
WID
POD
POG
ZAW
LEC
TBN
POR
BEL
SCP
TRO
GUI
SET
FER
BRA
AMA
ACA
RA
BEN
LEI
NAC
NAV
MAR
ULE
OLH
POR
B-M
FEI
GV
MOR
EST
ARO
PEN
BOA
MAD
TON
FAL
RAN
HEA
MOT
KIL
HIB
ABE
INV
CEL
MIR
HAM
DUU
JOH
DUN
DUF
ROS
PAR
VAL
MAL
OSA
VIL
COR
REA
NUM
BAR
SAN
SEV
SPG
GET
BET
HUE
ESP
VAL
BIL
ALM
AMA
MAL
XER
ZAR
TEN
HER
LEV
SOC
GRA
RAY
CEL
ELC
EIB
COR
LAS
GRA
BEL
YB
BAS
AAR
SIO
LUZ
VAD
XAM
ZUR
GAL
THU
SER
LAU
LUG

In [8]:
result.close()
result.closed

True

### Sql Alchemy + Pandas

The pandas read_sql_query function allows us to read a SQL query into a DataFrame

In [9]:
import pandas as pd
pd.read_sql_query('''SELECT * FROM team limit 10 ''',engine)

   id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987             673.0           KRC Genk             GEN
1   2         9993             675.0       Beerschot AC             BAC
2   3        10000           15005.0   SV Zulte-Waregem             ZUL
3   4         9994            2007.0   Sporting Lokeren             LOK
4   5         9984            1750.0  KSV Cercle Brugge             CEB
5   6         8635             229.0     RSC Anderlecht             AND
6   7         9991             674.0           KAA Gent             GEN
7   8         9998            1747.0          RAEC Mons             MON
8   9         7947               NaN      FCV Dender EH             DEN
9  10         9985             232.0  Standard de Liège             STL

#### Exercise: Query with Engine 

Using either engine.execute() or pd.read_sql_query format, query the 
player table from the soccer data to determine how many players weigh over 170 lbs.

[data ref](# https://www.kaggle.com/hugomathien/soccer)

In [10]:
# # Your solution here

# option 1: Query via pandas


# option 2: Query  via engine.execute

### Connecting to other SQL servers via DBAPIs

#### MSSQL connection

```
from sqlalchemy import create_engine
from sqlalchemy import inspect

# Server + DBAPI://username:password@IP/database
uri = 'mssql+pymssql://julia:l!nterN@52.201.224.72/orm'
engine = create_engine(uri)

## we have employee & department tables available on our remote mssql server

result=engine.execute('select * from employee')
rows=result.fetchall()
rows
```

#### Oracle connection
```
engine = create_engine('oracle://scott:tiger@127.0.0.1:1521/sidname')     
engine = create_engine('oracle+cx_oracle://scott:tiger@tnsname')
```

[sqlalc documentation various diablects](http://docs.sqlalchemy.org/en/latest/core/engines.html)

#### Key Takeaways

 - The SQLAlchemy Engine object maintains our DBAPI interaction, where DBAPI is the interface between python and our database
 - We can perform queries via: explicit engine connections which may or may not include tranactions
 -  We can also use pandas pd.read_sql_query to run a query

## Using Metadata with SqlAlchemy

Metadata describes the structure of the database, ie tables, columns, and in this case it will describe data structures in python. ( Metadata is data about data!)

Metadata serves as the basis for SQL generation and object relational mapping in order to convert tables to python data structures.

### MetaData- Generate DataBase Schema

In [16]:
# the structure of a relational schema is represented in Python using 
# Metadata, Table and Columns

from sqlalchemy import MetaData
from sqlalchemy import Table, Column
from sqlalchemy import Integer, String

# lets redefine out engine 
engine = create_engine('sqlite:///some.db') 

metadata=MetaData(engine) #a container object that keeps a collection of Table objects (and their associated schemas.. )
user_table=Table('user',metadata, # structure here reminds us of 'CREATE TABLE'
              Column("id",Integer,primary_key=True), # primary key constraint
              Column("first_name",String),
              Column("last_name",String))

# check out the attributes of user_table
print(user_table.name)
print(user_table.c.first_name)
type(user_table.c.id)

user
user.first_name

sqlalchemy.sql.schema.Column

In [17]:
# Table and MetaData objects can be used to generate a schema 
# in a database 

#
metadata.create_all(engine)  #create all tables that havent been created yet!
for _t in metadata.tables:
   print ("Table: ", _t)

Table:  user

The Table object is at the core of the SQL expression system.     
Here is a quick preview of that:

In [18]:
# We can see that given the metadata, we will be able to compose any 
# SQL query.. 
print(user_table.select())

SELECT user.id, user.first_name, user.last_name
FROM user

### Some Basic Types of MetaData: 
    - Integer() : basic integer type, generates INT
    - String() - ASCII strings, generates VARCHAR
    - Unicode()- Unicode strings, generates VARCHAR (NVARCHAR)
    - Boolean - generates boolean, int 
    - DateTime() - generates DATETIME or TIMESTAMP, returns python datetime() objects
    - Float() - floating points
    - Numeric() - precision numerics

In [19]:
from sqlalchemy import String,Numeric,DateTime,Enum
# Types are represented using objects such as String, Integer, DateTime,
# can be instantiated with arguments

large_table=Table('large',metadata,
            Column('key',String(50),primary_key=True),
            Column('timestamp', DateTime),   
            Column('amount',Numeric(10,2)),
            Column('type', Enum('a','b','c')))  # equivalent to SQl Check constraint

large_table.create(engine)

In [20]:
# table metadata also allows for constraints.
# ForeignKey is used to link one column to a remote primary key

from sqlalchemy import ForeignKey
address_table=Table("address",metadata,
                   Column("id",Integer, primary_key=True),
                   Column("email",String(100), nullable=False),
                   Column("user_id",Integer,ForeignKey('user.id')))
address_table.create(engine)

### Inspect  - Get Database info

In [21]:
# Information about a database is available using the 
# Inspector object

from sqlalchemy import inspect
inspector=inspect(engine)

#inspector.# shift
print(inspector.get_table_names())
print("\n")
inspector.get_columns('address')

['address', 'large', 'user']

[{'autoincrement': 'auto',
  'default': None,
  'name': 'id',
  'nullable': False,
  'primary_key': 1,
  'type': INTEGER()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'email',
  'nullable': False,
  'primary_key': 0,
  'type': VARCHAR(length=100)},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'user_id',
  'nullable': True,
  'primary_key': 0,
  'type': INTEGER()}]

### Reflection: Loading in Existing Database
Reflection refers to loading Table objects based on reading reading from
an existing database, will pull in schema so you don't have to recreate a table.

In [22]:
metadata=MetaData()
print(metadata.tables)
print('\n')

# reflect db schema to MetaData
metadata.reflect(bind=engine)
print (metadata.tables)

immutabledict({})


immutabledict({'address': Table('address', MetaData(bind=None), Column('id', INTEGER(), table=<address>, primary_key=True, nullable=False), Column('email', VARCHAR(length=100), table=<address>, nullable=False), Column('user_id', INTEGER(), ForeignKey('user.id'), table=<address>), schema=None), 'user': Table('user', MetaData(bind=None), Column('id', INTEGER(), table=<user>, primary_key=True, nullable=False), Column('first_name', VARCHAR(), table=<user>), Column('last_name', VARCHAR(), table=<user>), schema=None), 'large': Table('large', MetaData(bind=None), Column('key', VARCHAR(length=50), table=<large>, primary_key=True, nullable=False), Column('timestamp', DATETIME(), table=<large>), Column('amount', NUMERIC(precision=10, scale=2), table=<large>), Column('type', VARCHAR(length=1), table=<large>), schema=None)})

#### Exercise:  
1) Write a table construct that corresponds with this CREATE TABLE
statement.

```sql
CREATE TABLE client (    
     client_id INTEGER PRIMARY KEY,    
     name VARCHAR(100) NOT NULL,    
     address VARCHAR(100) NOT NULL,    
     FOREIGN KEY owner REFERENCES user(id)
  )
```

2) Then emit metadata.create_all() which will emit CREATE TABLE for client    
3) Inspect the columns using inspector

In [ ]:
# Your solution here

client_table=Table( ... )

### Dropping Tables
Dropping all tables is similarly achieved using the drop_all() method. This method does the exact opposite of create_all() - the presence of each table is checked first, and tables are dropped in reverse order of dependency.

Creating and dropping individual tables can be done via the create() and drop() methods of Table. These methods by default issue the CREATE or DROP regardless of the table being present

In [23]:
table = Table('Test', metadata,
              Column('id', Integer, primary_key=True),
              Column('key', String, nullable=True),
              Column('val', String))

table.create(engine)
inspector = inspect(engine)
print ('Test' in inspector.get_table_names())

table.drop(engine)
inspector = inspect(engine)
print ('Test' in inspector.get_table_names())

True
False

## Key takeaways:

- Metadata serves as the basis for SQL generation and object relational mapping in order to convert tables to python data structures.

- Table and MetaData objects can be used to generate a schema in a database 
- We can recreate Table MetaData using reflection
- We can retrieve info about a Table using inspection
- We can reverse the process of creating a table with 'drop'

## SQL Expressions  
The SQL Expression system builds upon Table Metadata in order to compose SQL 
statements in python.   We will build Python objects that represent individual SQL string(statements) we'd send to the database

These objects are composed of other objects that each represent some unit of SQL 
(conjunction s.a. AND or OR).  We work with these objects in Python, which are then converted to strings, when we execute them 

Note: it's just an object converted to string in order to send to DBAPI (when we execute them..)

In [24]:
# Think Column as "ColumnElement"
# Implement via overwrite special function
from sqlalchemy import MetaData
from sqlalchemy import Table
from sqlalchemy import Column
from sqlalchemy import Integer, String
from sqlalchemy import or_

meta = MetaData()
table = Table('example', meta,
              Column('id', Integer, primary_key=True),
              Column('last_name', String),
              Column('first_name', String))

# sql expression binary object
print (repr(table.c.first_name == 'ed'))

# exhbit sql expression
print (str(table.c.first_name == 'ed'))

<sqlalchemy.sql.elements.BinaryExpression object at 0x10ba3b668>
example.first_name = :first_name_1

In [25]:
print (repr(table.c.first_name != 'ed'))

<sqlalchemy.sql.elements.BinaryExpression object at 0x10ba577f0>

In [26]:
# comparison operator
print (repr(table.c.id > 3))

<sqlalchemy.sql.elements.BinaryExpression object at 0x10ba57390>

In [27]:
# or expression
print ((table.c.id > 5) | (table.c.id < 2))
# Equal to
print (or_(table.c.id > 5, table.c.id < 2))

example.id > :id_1 OR example.id < :id_2
example.id > :id_1 OR example.id < :id_2

In [28]:
# compare to None produce IS NULL
print ((table.c.last_name == None))
# Equal to
print ((table.c.last_name.is_(None)))

example.last_name IS NULL
example.last_name IS NULL

In [29]:
# + means "addition"
print (table.c.id + 5)

# or means "string concatenation"
print (table.c.last_name + "some name")

# in expression
print (table.c.last_name.in_(['a','b']))

example.id + :id_1
example.last_name || :last_name_1
example.last_name IN (:last_name_1, :last_name_2)

## ORM 
SQLAlchemy is an example of an Object-relational mapping, or ORM. It is designed so that you think of the relational databases you are querying as objects in the same vein as other Python objects.
  
Most ORMs also represent basic compositions, primarily one-to-many, many-to-one
using foreign key associations. It also provides a means of querying the database in terms of domain model structure
[and many other things](ref) 

The ORM builds upon SQL Alchemy Core, and many of the SQL expression concepts are present, when working with the ORM as well

Of course, one of the powerful features of SQLAlchemy is that we can define table structures using Python syntax. Nevertheless, many of you may want to simply use it to connect to existing databases and query data. We can do that by telling SQLAlchemy to use the existing table structures as a "Base" for your engine:

In [30]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///some.db')

In [31]:
# Define an extension to the sqlalchemy.ext.declarative system which 
# reflect an existing database into a new model

from sqlalchemy.ext.automap import automap_base
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['address', 'user', 'large']

At this point, `Base.classes` contains all the table names that exist in our 'some.db'. We could then start to work with these tables as if they were Python classes, which after all is the point of SQLAlchemy!

Lets say we didnt have any tables available in our database, we can create some by defining specific classes.

In [32]:
engine = create_engine('sqlite:///')  # lets use the in-memory database

In [33]:
from sqlalchemy import Column, String, Integer, ForeignKey
from sqlalchemy.orm import relationship, backref
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

class Department(Base):
    __tablename__ = 'department'
    id = Column(Integer, primary_key=True)  # sqlalchemy will initialize for us
    name = Column(String)
    employees = relationship('Employee', secondary='department_employee')


class Employee(Base):
    __tablename__ = 'employee'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    departments = relationship('Department', secondary='department_employee')


class DepartmentEmployee(Base):
    __tablename__ = 'department_employee'
    department_id = Column(Integer, ForeignKey('department.id'), primary_key=True)
    employee_id = Column(Integer, ForeignKey('employee.id'), primary_key=True)

What did we do here? In a nutshell, we created three tables:

* A "department" table, with two columns:
    * id - an Integer Primary key
    * name - a String column

* An "employee" table, with two columns:
    * id - an Integer Primary key
    * name - a String column
    
* An "department_employee" table, with two columns:
    * department_id - an Integer Primary key
    * employee_id - a String column

In [34]:
# What's available to us? 
DepartmentEmployee.__tablename__ # table name associated with our table
# DepartmentEmployee.__(shift) ~ there are many options

'department_employee'

Now, some code to just configure our SQLAlchemy session.

In [35]:
from sqlalchemy.orm import sessionmaker

# to persist and load User objects from the database, we use a Session object
# It is the way to go when working with the ORM (mapped tables)
session = sessionmaker()
session.configure(bind=engine)
Base.metadata.create_all(engine)  # create our tables
s = session()

## Inserting data

Rather than writing "INSERT" statements, we add data to tables by defining Python objects and then `add`ing them. See the code below:

In [36]:
john = Employee(name='dave') # Define a row in the employee table
s.add(john) # Add this "row" to our session

it_department = Department(name='IT') # Define a row in the department table
it_department.employees.append(john) # Add a relationship between John and the IT department.
s.add(it_department) # Add this new information to our session

s.commit() # Commit it, adding the information to our "tables"

This may seem cumbersome if you're used to writing `INSERT` statements, but working with ORMs often becomes more intuitive after a while. In the line `it_department.employees.append(john)`, for example: we've already defined our relationships, primary keys and so on in our class definitions, so in this line we simply write: "Add John to the IT department".

## SELECT and WHERE

The equivalent of `SELECT` and `WHERE` in SQLAlchemy are done in the following way:

In [37]:
dave = s.query(Employee).filter(Employee.name == 'dave').one()
# .one() to return one result

In this case, `dave` is just one row. Let's see what methods are associated with dave:

We can see that "dave" has an `id`, a `name`, a list of `departments` he is assocaited with, as well as metadata. This corresponds to the information we would expect from a single row in a database query.

In [39]:
it_department.id

1

In [42]:
dave.

'dave'

In [40]:
dave.departments   # returns a list

In [41]:
dave_dept = dave.departments[0]

In [42]:
dave_dept.id

1

In [43]:
dave_dept.name

'IT'

Similarly, we could query the departments table to get the department and the subsequent list of employees that are associated with it:

In [44]:
dept = s.query(Department).filter(Department.name == 'IT').one()

In [45]:
print(dept.name)
print(dept.employees)
print(dept.employees[0].name)

IT
[<__main__.Employee object at 0x10bfca7b8>]
dave

Now let's add another employee to these tables:

In [46]:
mary = Employee(name='mary')
financial_department = Department(name='financial')
financial_department.employees.append(mary)
s.add(mary)
s.add(financial_department)
s.commit()

Again, this syntax may seem complicated if you're used to SQL, but it can lead to more intuitive ways of thinking about your data. For example, if we listed all of the employees in the IT department, currently it would just be "Dave". However, if we wanted to add Mary as an employee of the IT department, after getting a list of employees, it would be as simple as "adding" Mary as an employee:

In [47]:
it = s.query(Department).filter(Department.name == 'IT').one()

In [48]:
it.employees.append(mary)

In [49]:
it.employees

Automatically, we can now see that Mary belongs to two departments:

In [50]:
mary.departments

## `GROUP BY` and `HAVING`

Let's see how to aggregate using SQLAlchemy. Suppose we want to get a list of all the employees who belong to more than one department (we know in this case that this will just be "Mary").

In SQL, we would want to `GROUP BY` and then a `HAVING` statement to filter the groups by only those that had a "count" greater than 1. It turns out there are easy SQLAlchemy functions that do just that.

Side note about SQLAlchemy: so far we have been appending `.one()` to the end of our queries to return only one record. We can easily return multiple records in a list, however, by storing the result of our queries and then calling `.all()` on that result:

In [51]:
from sqlalchemy import func
res = s.query(Employee).join(Employee.departments).group_by(Employee.id).having(func.count(Department.id) > 1)
res.all()

And indeed, we see that this returned Mary:

In [52]:
res.all()[0].name

'mary'

#### Exercise:  Create Classes with the ORM
Recreate user_table via the ORM Table Class (as we did in the MetaData Section).      
If you have time also create the address table

In [12]:
# Your solution here
Base = declarative_base()

class User(Base):
    __tablename__='user'

#### Key Takeaways
- The most basic task of the ORM is to translate between a domain object and a table row
- Most ORMs also represent basic compositions, primarily one-to-many, many-to-one using foreign key associations   
- ORMs provides a means of querying the database in terms of domain model structure

## More examples

In [ ]:
# One-to-One Relationships
class Parent(Base):
    __tablename__ = 'parent'
    id = ColumnColumn(Integer,Sequence('p_seq'),primary_key=True) 
    child_id = Column(Integer, ForeignKey('child.id'))
    child = relationship("Child", backref=backref("parent", uselist=False)) # <------

class Child(Base):
    __tablename__ = 'child'
    id = Column(Integer,Sequence('c_seq'),primary_key=True)

In [ ]:
oChild = DBSession.query(Child).get(1)
oParent = oChild.parent

oParent2 = Parent()
oParent.child = Child()

In [ ]:
# Many-to-Many relationships

class Category(Base):
    __tablename__ = 'categories'
    id = Column(Integer,Sequence('cat_seq'),primary_key=True) 
    name = Column(String(20))

class Product(Base):
    __tablename__ = 'products'
    id = Column(Integer,Sequence('prod_seq'),primary_key=True) 
    name = Column(String(20))
    
class Map(Base):
    __tablename__ = 'map'
    id = Column(Integer,Sequence('map_seq'),primary_key=True) 
    cat_id = Column(Integer,ForeignKey('categories.id'))
    prod_id = Column(Integer,ForeignKey('products.id'))

In [ ]:
# another approach

map_table = Table('maps', Base.metadata,
    Column('cat_id', Integer, ForeignKey('categories.id')),
    Column('prod_id', Integer, ForeignKey('products.id'))
)

class Category(Base):
    __tablename__ = 'categories'
    id = Column(Integer,Sequence('cat_seq'),primary_key=True) 
    name = Column(String(20))

    products = relationship("Product",
                    secondary=map_table,   # you can also use the string name of the table, "maps", as the secondary
                    backref="categories")

class Product(Base):
    __tablename__ = 'products'
    id = Column(Integer,Sequence('prod_seq'),primary_key=True) 
    name = Column(String(20))

## More Resources

Resources:

* Connecting to MS SQL Server:
http://www.pymssql.org/en/stable/
http://docs.sqlalchemy.org/en/latest/dialects/mssql.html#module-sqlalchemy.dialects.mssql.pyodbc
* Session, connection, engine: https://stackoverflow.com/questions/34322471/sqlalchemy-engine-connection-and-session-difference, and http://docs.sqlalchemy.org/en/latest/core/connections.html
* SQLAlchemy syntax: http://pythoncentral.io/overview-sqlalchemys-expression-language-orm-queries/
https://www.codementor.io/sheena/understanding-sqlalchemy-cheat-sheet-du107lawl