### Topic: Challenge Set 9
### Subject: SQL Exercises Part 3
### Date: 02/17/2018
### Name: Subramanian Iyer
### Worked With: Worked Individually

In [1]:
import sqlite3
conn = sqlite3.connect('database.sqlite')
c = conn.cursor()

**Challenge Number 1**

In [13]:
for row in c.execute('select team_long_name from (select home_team_api_id, sum(home_team_goal) c from Match \
group by home_team_api_id order by c desc limit 1) a join Team on a.home_team_api_id = Team.team_api_id'):
    print(row)

('Real Madrid CF',)

**Challenge Number 2**

In [14]:
for row in c.execute('select team_long_name from (select away_team_api_id, sum(away_team_goal) c from Match \
group by away_team_api_id order by c desc limit 1) a join Team on a.away_team_api_id = Team.team_api_id'):
    print(row)

('FC Barcelona',)

**Challenge Number 3**

In [15]:
for row in c.execute('select count(*) from Match where home_team_goal=away_team_goal'):
    print(row)

(6596,)

**Challenge Number 4**

In [24]:
for row in c.execute('select count(*) from (Select player_name FROM Player WHERE player_name like "% SMITH") a'):
    print(row)

(15,)

In [25]:
for row in c.execute('select count(*) from (Select player_name FROM Player WHERE player_name like "%smith%") a'):
    print(row)

(18,)

**Challenge Number 5**

In [49]:
extent = 0
med = 0
for row in c.execute('select home_team_goal from Match where home_team_goal=away_team_goal order by home_team_goal'):
    extent +=1
    if(extent==3297 or extent==3298):
        med +=row[0]
print(med/2.)

1.0

**Challenge Number 6**

In [57]:
lefts = 0
rights = 0
total = 0
for row in c.execute('select count(*) from Player_Attributes where preferred_foot="left"'):
    print(row)
    lefts = row[0]
for row in c.execute('select count(*) from Player_Attributes'):
    print(row)
    total = row[0]
for row in c.execute('select count(*) from Player_Attributes where preferred_foot="right"'):
    print(row)
    rights = row[0]
print(str(100*float(lefts)/float(total))+'%'+' of players prefer their left foot.')
print(str(100*float(rights)/float(total))+'%'+' of players prefer their left foot.')
print(str(100*float(lefts+rights)/float(total))+'%'+' of players prefer their left or right foot')

(44733,)
(183978,)
(138409,)
24.314320190457554% of players prefer their left foot.
75.23127765276283% of players prefer their left foot.
99.54559784322039% of players prefer their left or right foot

In [59]:
for row in c.execute('select count(*) from (select * from Player_Attributes where preferred_foot!="left") a where a.preferred_foot!="right"'):
    print(row)

(0,)

That's odd, there should be some values that are neither left nor right.

In [61]:
feet = []
for row in c.execute('select preferred_foot from Player_Attributes'):
    feet.append(row[0])
print(set(feet))

{None, 'left', 'right'}

Ah ok, null values are weird.

In [63]:
for row in c.execute('select count(*) from Player_Attributes where preferred_foot is null'):
    print(row)

(836,)

In [64]:
print(44733+138409+836)

183978

Takeaway: beware of null values.