# Challenge Set 9
## Part III: Soccer Data

*Introductory - Intermediate level SQL*

--

Please complete this exercise using sqlite3 and Jupyter notebook.

Download the [SQLite database](https://www.kaggle.com/hugomathien/soccer/downloads/soccer.zip) and load in your notebook using the sqlite3 library.

In [14]:
import sqlite3
conn = sqlite3.connect('database.sqlite')
c = conn.cursor()

Which team scored the most points when playing at home?

In [20]:
for row in c.execute('''Select team_long_name 
                        from match inner join team on home_team_api_id = team_api_id
                        group by home_team_api_id
                        order by sum(home_team_goal) desc
                        limit 1'''):
    print(row)

('Real Madrid CF',)

Did this team also score the most points when playing away?

In [21]:
for row in c.execute('''Select team_long_name 
                        from match inner join team on away_team_api_id = team_api_id
                        group by away_team_api_id
                        order by sum(away_team_goal) desc
                        limit 1'''):
    print(row)

('FC Barcelona',)

How many matches resulted in a tie?

In [23]:
for row in c.execute('''Select count(match.id)
                        from match 
                        where home_team_goal = away_team_goal'''):
    print(row)

(6596,)

How many players have Smith for their last name? How many have 'smith' anywhere in their name?

In [39]:
for row in c.execute('''Select count(player_name)
                        from player
                        where substr(player_name,-5) = "Smith"'''):
    print(row)

(15,)

In [40]:
for row in c.execute('''Select count(player_name)
                        from player
                        where player_name like "%smith%"'''):
    print(row)

(18,)

What was the median tie score? Use the value determined in the previous question for the number of tie games. *Hint:* PostgreSQL does not have a median function. Instead, think about the steps required to calculate a median and use the [`WITH`](https://www.postgresql.org/docs/8.4/static/queries-with.html) command to store stepwise results as a table and then operate on these results.

In [45]:
for row in c.execute('''select home_team_goal 
                        from
                            (Select home_team_goal
                            from match 
                            where home_team_goal = away_team_goal
                            order by home_team_goal
                            limit 6596/2)
                        order by home_team_goal desc
                        limit 1'''):
    print(row)

(1,)


6. What percentage of players prefer their left or right foot? *Hint:* Calculate either the right or left foot, whichever is easier based on how you setup the problem.

In [60]:
for row in c.execute('''select right_foot*1.0/total_players*100
                        from
                        (Select count(id) as total_players
                        from player_attributes),
                        (select count(id) as right_foot
                        from player_attributes
                        where preferred_foot = "right")'''):
    print('Right Footed %')
    print(row[0])

Right Footed %
75.23127765276283