# Challenge Set 9
## Part II: Baseball Data

*Introductory - Intermediate level SQL*

--

Please complete this exercise via SQLalchemy and Jupyter notebook.

We will be working with the Lahman baseball data we uploaded to your AWS instance in class.

In [ ]:
from sqlalchemy import create_engine
import pandas as pd
cnx = create_engine('postgresql://bgentry91:XXXX@localhost:5432/bgentry91')

What was the total spent on salaries by each team, each year?

In [ ]:
pd.read_sql_query('''SELECT sum(salary), teamid, yearid as TotalSpend FROM salaries GROUP BY teamid, yearid''',cnx)

What is the first and last year played for each player? Hint: Create a new table from 'Fielding.csv'.

In [ ]:
df = pd.read_csv('baseballdata/Fielding.csv')
df.to_sql('fielding', cnx)

In [ ]:
pd.read_sql_query(('''SELECT "playerID", min("yearID"), max("yearID") FROM fielding GROUP BY "playerID"'''), cnx)

Who has played the most all star games?

aaronha01

In [ ]:
pd.read_sql_query(('''Select playerid, count(gp) as games_played 
                    from allstarfull 
                    group by playerid 
                    order by games_played desc
                    limit 1'''), cnx)

Which school has generated the most distinct players? *Hint:* Create new table from 'CollegePlaying.csv'.

USC

In [ ]:
df = pd.read_csv('baseballdata/SchoolsPlayers.csv')
df.to_sql('SchoolsPlayers', cnx, index=False)

In [ ]:
pd.read_sql_query(('''select "schoolID" 
                    from "SchoolsPlayers" 
                    group by "schoolID" 
                    order by count("playerID") desc
                    limit 1'''),cnx)

Which players have the longest career? Assume that the `debut` and `finalGame` columns comprise the start and end, respectively, of a player's career. *Hint:* Create a new table from 'Master.csv'. Also note that strings can be converted to dates using the [`DATE`](https://wiki.postgresql.org/wiki/Working_with_Dates_and_Times_in_PostgreSQL#WORKING_with_DATETIME.2C_DATE.2C_and_INTERVAL_VALUES) function and can then be subtracted from each other yielding their difference in days.

In [ ]:
df = pd.read_csv('baseballdata/Master.csv')
df.columns = df.columns.str.lower()
df.to_sql('master', cnx, index=False)

In [ ]:
pd.read_sql_query(('''select (date(finalgame)-date(debut)) as careerdays, playerid 
                      from master
                      where (date(finalgame)-date(debut)) is not null
                      order by careerdays desc'''),cnx).head()

What is the distribution of debut months? *Hint:* Look at the `DATE` and [`EXTRACT`](https://www.postgresql.org/docs/current/static/functions-datetime.html#FUNCTIONS-DATETIME-EXTRACT) functions.

In [ ]:
pd.read_sql_query(('''select extract(month from date(debut)) as debutmonth, count(playerid)
                      from master
                      where date(debut) is not null
                      group by extract(month from date(debut))
                      order by debutmonth'''),cnx)

What is the effect of table join order on mean salary for the players listed in the main (master) table? *Hint:* Perform two different queries, one that joins on playerID in the salary table and other that joins on the same column in the master table. You will have to use left joins for each since right joins are not currently supported with SQLalchemy.

For players who have no salary listed in the salaries table, but exist in the master's table, those rows will disappear if you use salaries as your left join table. If you use master, those players will show (will null salaries).

In [ ]:
pd.read_sql_query(('''select avg(salary), master.playerID
                      from master left join salaries on master.playerid = salaries.playerid
                      group by master.playerID'''),cnx)

In [ ]:
pd.read_sql_query(('''select avg(salary), salaries.playerID
                      from salaries left join master on salaries.playerid = master.playerid
                      group by salaries.playerID'''),cnx)